.block {
    display: flex;
    width: 768px;
    padding: 1rem;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .block {
        width: 100%;
        overflow-x: auto;
    }
}

.category {
    font-size: 1.125rem;
    cursor: pointer;
    white-space: pre;
    text-decoration: none;
    color: inherit;
    padding-bottom: 0.25rem;
}

.category:hover {
    color: #495057;
}

.category.active {
    font-weight: 600;
    border-bottom: 2px solid #22b8cf;
    color: #22b8cf;
}

.category+.category {
    margin-left: 1rem;
}